html
    head
        title Test
        //- include the Roboto font from google
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,200" rel="stylesheet")
        //- include part 1 (styles) of the materialize library
        link(href="libraries/materialize/sass/materialize.scss" rel="stylesheet")
        //- include our own styles
        link(rel="stylesheet" type="text/css" media="screen" href="CODE/style.sass")
    body
    
    //- include part2 of the materialize library
    script(src="libraries/materialize/js/bin/materialize.min.js") 
    //- include our main code
    script(src="CODE/main.js")