body, .body {
  margin: 0;
  color: #2e2e2e; }

div, p {
  color: #565656;
  font-family: Helvetica, sans-serif; }

h1 {
  font-size: 3rem; }

.black-button:hover {
  background-color: #565656;
  color: white;
  border-color: #565656; }
